@model ViewModels.BrandListViewModel
@{
    ViewBag.Title = "لیست برندها";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
    ViewBag.Canonical = "https://khoshdast.ir/brand";
}

<div class="main_content  bg-gray-list">
    <div class="section">
        <div class="container container-custom">
            <div class="row">
                <div class="col-md-12 pl5">
                    <div class="khoshdast-breadcramp">
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>

                        </ol>

                        <h1>@ViewBag.Title</h1>
                        <p class="clearfix"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">


                    <div class="row shop_container grid">
                        @foreach (var brand in Model.Brands)
                        {

                            <div class="col-md-3 col-6">
                                <div class="product brand-item">
                                    <div class="brand-item-img">
                                        <a href="/brand/@brand.UrlParam">
                                            <img src="@brand.BrandNameImageUrl" />
                                        </a>
                                    </div>
                                    <div class="brand-item-title">
                                        <a href="/brand/@brand.UrlParam">
                                            @brand.Title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>