@font-face {
    font-family: 'Iransans';
    src: url(../fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'),
        url(../fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'),
        url(../fonts/IranSans/IRANSansWebFaNum.woff) format('woff'),
        url(../fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IranYekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../fonts/IranYekan/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IranYekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranYekan/eot/iranyekanweblight(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IranYekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../fonts/IranYekan/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IranYekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IranYekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('../fonts/IranYekan/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IranYekan/IranYekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}


body {
    font-family: iranyekan;
}

h1, h2, h3, h4, h5, h6, a, span, label, p {
    font-family: iranyekan;
}.menu_banners .header-banner h6, .menu_banners .header-banner h4, .menu_banners .header-banner a {
    color: #fff !important;
}

.whatsappicon {
    position: fixed;
    bottom:20px;
    left: 20px;
}
#comment-succes, #comment-reject
{
    display:none;
}

.btn-filter {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

#errorDiv, #SuccessDiv, #errorDiv-discount, #SuccessDiv-discount, #SuccessDivBlog, #errorDivBlog, #errorDivContact, #SuccessDivContact {
    display: none;
}
/*.shop_cart_table td.product-name {
    float: none;
}*/

.shop_cart_table th, .shop_cart_table td {
    text-align: center !important;
}
.toggle_info {
    font-size: 14px;
}.toggle_info i {
    left: auto;
    right: 0;
    margin-right: 0;
    margin-left: 10px;
}
.toggle_info span {
    padding-left: 0;
    padding-right: 25px;
}

.pr_desc p {
    text-align: justify;
    direction: rtl;
}

.btn {
    font-size: 0.9rem;
}

.grid_item .blog_text h2 {
    font-size: 1rem;
}

.grid_item .blog_text p {
    font-size: 14px;
    text-align: justify
}
.grid_item .blog_text li {
    font-size: 14px;
}

.blog_text p {
    font-size: 14px;
    text-align: justify
}

.pl0 {
    padding-left: 0;
}
.pr0 {
    padding-right: 0;
}

.bg-gray {
    background-color: #f9f9f9 !important
}
.btn-addtocart-home {
    padding:4px 20px;
}

.product_info {
    min-height: 142px;
}

.mb29 {
    margin-bottom: 29px;
}

.pg-list-item {
    margin-bottom: 20px;
}

.navbar-toggler {
    float: right;    
}

.ion-android-menu {
    float: right;
    
}

@media(max-width:768px) {
    .slide-row .col-lg-3 {
        margin-top: 15px;
    }
}
@media(min-width:992px) {
    .slide-row .col-lg-3 {
        padding-right: 0;
    }
}

.cat_slider .item .categories_box img {
    border-radius: 5px;
}

@media(min-width:992px) {
    .top-product .col-md-3 {
        padding-left: 0 !important;
    }
}