@font-face {
    font-family: 'Iransans';
    src: url(../fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'),
        url(../fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'),
        url(../fonts/IranSans/IRANSansWebFaNum.woff) format('woff'),
        url(../fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}

@font-face {
    font-family: 'Yekan';
    src: url(../fonts/YekanDigits/Yekan.eot) format('embedded-opentype'),
         url(../fonts/YekanDigits/Yekan.woff2) format('woff2'),
         url(../fonts/YekanDigits/Yekan.woff) format('woff'),
         url(../fonts/YekanDigits/Yekan.ttf) format('truetype');
}

body {
    font-family: Yekan;
}

h1, h2, h3, h4, h5, h6, a, span, label, p {
    font-family: Yekan;
}.menu_banners .header-banner h6, .menu_banners .header-banner h4, .menu_banners .header-banner a {
    color: #fff !important;
}

.whatsappicon {
    position: fixed;
    bottom:20px;
    left: 20px;
}
#comment-succes, #comment-reject
{
    display:none;
}

.btn-filter {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

#errorDiv, #SuccessDiv, #errorDiv-discount, #SuccessDiv-discount {
    display: none;
}
/*.shop_cart_table td.product-name {
    float: none;
}*/

.shop_cart_table th, .shop_cart_table td {
    text-align: center !important;
}
.toggle_info {
    font-size: 14px;
}.toggle_info i {
    left: auto;
    right: 0;
    margin-right: 0;
    margin-left: 10px;
}
.toggle_info span {
    padding-left: 0;
    padding-right: 25px;
}

.pr_desc p {
    text-align: justify;
    direction: rtl;
}

.btn {
    font-size: 0.9rem;
}