@model ViewModels.ForgetPasswordViewModel
@{
    ViewBag.Title = "forgetpassword";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}



<div class="main_content  bg-gray-list">

    <div class="section">
        <div class="container container-custom">
            <div class="row">
                <div class="col-md-12 pl5">
                    <div class="khoshdast-breadcramp">
                        <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>

                        </ol>

                        <h1>فراموشی کلمه عبور</h1>
                        <p class="clearfix"></p>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-column justify-content-center">
                <div class="col-md-4 mx-auto mb-4">
                    <div class="panel-collapse collapse login_form show" id="loginform">
                        <div class="panel-body">
                            @using (Html.BeginForm("ForgetPassword", "Accounts", FormMethod.Post, new { }))
                            {
                                @Html.AntiForgeryToken()

                                if (TempData["WrongMobile"] != null)
                                {
                                    <p class="alert alert-danger" id="wrongEmail">@TempData["WrongMobile"]</p>
                                }

                                <div class="form-group">
                                    <input type="text" required="" class="form-control" id="UserCellNumber" name="UserCellNumber" placeholder="شماره موبایل">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block">دریافت کلمه عبور</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>

