@model ViewModels.AboutViewModel
@{
		ViewBag.Title = "درباره ما";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
		ViewBag.Canonical = "https://khoshdast.ir/about";
}

 
<div class="main_content bg-gray-list">
	
  
	<div class="section">
		<div class="container  container-custom2">

			<div class="row">
				<div class="col-md-12">
					<div class="khoshdast-breadcramp">
						<ol class="breadcrumb ">
							<li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
						</ol>

						<h1>تماس با ما</h1>
						<p class="clearfix"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="container container-white">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="about_img scene mb-4 mb-lg-0">
						<img src="~/assets/images/blog/1.jpg" alt="about_img"/>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="heading_s1">
						<h2>@Model.About.Title</h2>
					</div>
					@Html.Raw(Model.About.Body)

				</div>
			</div>
			
			<div class="row justify-content-center why-us">
				<div class="col-lg-6 col-md-8">
					<div class="heading_s1 text-center">
						<h2>چرا رنگ خوشدست</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				@foreach (var whyus in Model.WhyUsText)
				{
					<div class="col-lg-4 col-sm-6">
						<div class="icon_box icon_box_style4 box_shadow1">
							<div class="icon">
								<i class="ti-pencil-alt"></i>
							</div>
							<div class="icon_box_content">
								<h5>@whyus.Title</h5>
								<p>@whyus.Summery</p>
							</div>
						</div>
					</div>
				} 

			</div>
		</div>
	</div>
  

</div>
