
@{
		ViewBag.Title = "Dashboard";
		Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}
<style>
	.dashboard-card {
		border-radius: 5px;
		text-align: center;
		padding: 10px;
		margin-bottom: 10px;
	}
	.dashboard-card h2{
		color: #000;
		font-size: 20px;
	}

	.dashboard-card p{
		color: #000;
		font-size: 14px;
	}

	.dashboard-card-color1 {
		background-color: #4570b3;
	}
	.dashboard-card-color2 {
		background-color: #eb3338;
	}
	.dashboard-card-color3 {
		background-color: #fcb02f;
	}
	.dashboard-card-color4 {
		background-color: #57b951;
	}
</style>

<h2>داشبورد</h2>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="dashboard-card dashboard-card-color1">
				<h2>
					تعداد کل محصولات
				</h2>
				<p>
					3
				</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dashboard-card dashboard-card-color2">
				<h2>
					تعداد کل محصولات
				</h2>
				<p>
					3
				</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dashboard-card dashboard-card-color3">
				<h2>
					تعداد کل محصولات
				</h2>
				<p>
					3
				</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dashboard-card dashboard-card-color4">
				<h2>
					تعداد کل محصولات
				</h2>
				<p>
					3
				</p>
			</div>
		</div>
	</div>
</div>