
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>انتقال به درگاه پرداخت</title>
</head>
<body>
<div>
	در حال انتقال به درگاه پرداخت بانکی ...
</div>
</body>
</html>
