
@{
    ViewBag.Title = "عنوان محصول";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini" style="background-image: url('../../images/banner2.jpg');">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>عنوان محصول</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="#">عنوان گروه محصول</a></li>
                    <li class="breadcrumb-item active">عنوان محصول</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <div class="product-image">
                        <div class="product_img_box">
                            <img id="product_img" src='~/assets/images/web/1.jpg' data-zoom-image="~/assets/images/web/1.jpg" alt="عنوان محصول" />
                            <a href="#" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>
                        <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">

                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title"><a href="#">عنوان محصول</a></h4>
                            <div class="">

                                <span class="price">155000 تومان</span>
                                <del>165000 تومان</del>
                                <div class="on_sale">
                                    <span>10 % تخفیف</span>
                                </div>

                            </div>

                            <div class="pr_desc">
                                <p>  توضیحات مختصری راجع به محصول در این قسمت قرار می گیرد</p>
                            </div>
                            <div class="product_sort_info">
                                <ul>
                                    <li><i class="linearicons-weight"></i> 1کیلوگرم</li>

                                    <li><i class="linearicons-shield-check"></i>موجود</li>

                                </ul>
                            </div>


                        </div>
                        <hr />
                        <div class="cart_extra">
                            <div class="cart-product-quantity">
                                <div class="quantity">
                                    <input type="button" value="-" class="minus">
                                    <input type="text" name="quantity" value="1" title="تعداد" class="qty" size="4" id="basketQty">
                                    <input type="button" value="+" class="plus">
                                </div>
                            </div>
                            <div class="cart_btn">
                                <button class="btn btn-fill-out btn-addtocart" type="button"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button>
                                <a class="add_compare" href="#"><i class="icon-shuffle"></i></a>
                                <a class="add_wishlist" href="#"><i class="icon-heart"></i></a>
                            </div>
                        </div>
                        <hr />

                        <div class="product_share">
                            <span>اشتراک گذاری:</span>
                            <ul class="social_icons">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">توضیحات تکمیلی</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">نظرات (2)</a>
                            </li>
                        </ul>
                        <div class="tab-content shop_info_tab">
                            <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                                <p>توضیجات محصول در این قسمت قرار می گیرد.توضیجات محصول در این قسمت قرار می گیرد.توضیجات محصول در این قسمت قرار می گیرد.توضیجات محصول در این قسمت قرار می گیرد.توضیجات محصول در این قسمت قرار می گیرد.</p>
                            </div>

                            <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">

                                <div class="comments">
                                    <h5 class="product_tab_title">2 نظر برای  <span>عنوان محصول</span></h5>
                                    <ul class="list_none comment_list mt-4">

                                        <li>
                                            <div class="comment_img">
                                                <img src="~/assets/images/avatar.png" alt="user1" />
                                            </div>
                                            <div class="comment_block">

                                                <p class="customer_meta">
                                                    <span class="review_author">نام کاربر</span>
                                                    <span class="comment-date">12 اردیبهشت 1399</span>
                                                </p>
                                                <div class="description">
                                                    <p>توضیحات در این قسمت قرار می گیرد</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment_img">
                                                <img src="~/assets/images/avatar.png" alt="user2" />
                                            </div>
                                            <div class="comment_block">

                                                <p class="customer_meta">
                                                    <span class="review_author">نام کاربر</span>
                                                    <span class="comment-date">15 خرداد 1399</span>
                                                </p>
                                                <div class="description">
                                                    <p>توضیحات در این قسمت قرار می گیرد</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="review_form field_form">
                                    <h5>افزودن نظر</h5>
                                    <div>
                                        <p class="alert alert-success" id="comment-succes">نظر شما با موفقیت ثبت شد</p>
                                        <p class="alert alert-danger" id="comment-reject"></p>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="form-group col-md-6">
                                            <input required="required" placeholder="نام و نام خانوادگی *" class="form-control" name="name" type="text" id="commentName">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input required="required" placeholder="ایمیل *" class="form-control" name="email" type="email" id="commentEmail">
                                        </div>
                                        <div class="form-group col-12">
                                            <textarea required="required" placeholder="نظر شما *" class="form-control" name="message" rows="4" id="commentBody"></textarea>
                                        </div>


                                        <div class="form-group col-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">ثبت نظر</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="heading_s1">
                        <h3>محصولات مرتبط</h3>
                    </div>
                    <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                        <div class="item">
                            <div class="product">
                                <div class="product_img">
                                    <a href="#">
                                        <img src="~/assets/images/web/8.jpg" alt="عنوان محصول">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</a></li>
                                            <li><a href="#"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="#" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="#">عنوان محصول</a></h6>
                                    <div class="product_price">

                                        <span class="price">115000 تومان</span>
                                        <del>125000 تومان</del>
                                        <div class="on_sale">
                                            <span>10 % تخفیف</span>
                                        </div>

                                    </div>

                                    <div class="pr_desc">
                                        <p> توضیحات مختصری راجع به محصول در این قسمت قرار می گیرد</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="product_img">
                                    <a href="#">
                                        <img src="~/assets/images/web/2.jpg" alt="عنوان محصول">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</a></li>
                                            <li><a href="#"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="#" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="#">عنوان محصول</a></h6>
                                    <div class="product_price">

                                        <span class="price">155000 تومان</span>
                                        <del>165000 تومان</del>
                                        <div class="on_sale">
                                            <span>10 % تخفیف</span>
                                        </div>

                                    </div>

                                    <div class="pr_desc">
                                        <p> توضیحات مختصری راجع به محصول در این قسمت قرار می گیرد</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <div class="product_img">
                                    <a href="#">
                                        <img src="~/assets/images/web/3.jpg" alt="عنوان محصول">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</a></li>
                                            <li><a href="#"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="#" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="#">عنوان محصول</a></h6>
                                    <div class="product_price">

                                        <span class="price">155000 تومان</span>
                                        <del>165000 تومان</del>
                                        <div class="on_sale">
                                            <span>10 % تخفیف</span>
                                        </div>

                                    </div>

                                    <div class="pr_desc">
                                        <p> توضیحات مختصری راجع به محصول در این قسمت قرار می گیرد</p>
                                    </div>

                                </div>
                            </div>
                        </div><div class="item">
                            <div class="product">
                                <div class="product_img">
                                    <a href="#">
                                        <img src="~/assets/images/web/4.jpg" alt="عنوان محصول">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</a></li>
                                            <li><a href="#"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="#" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="#">عنوان محصول</a></h6>
                                    <div class="product_price">

                                        <span class="price">155000 تومان</span>
                                        <del>165000 تومان</del>
                                        <div class="on_sale">
                                            <span>10 % تخفیف</span>
                                        </div>

                                    </div>

                                    <div class="pr_desc">
                                        <p> توضیحات مختصری راجع به محصول در این قسمت قرار می گیرد</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

</div>
