
@{
    ViewBag.Title = "لیست محصولات";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini" style="background-image: url('../../images/banner2.jpg');">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>لیست محصولات</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                    <li class="breadcrumb-item active">عنوان گروه محصول</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>

<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">

                    <div class="row shop_container grid">
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="/home/ProductDetails">
                                        <img src="~/assets/images/web/1.jpg" alt="product_img1">
                                    </a>
                                    @*<div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</a></li>
                                            <li><a href="#" class="popup-ajax"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="#" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>*@
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/home/ProductDetails">عنوان محصول</a></h6>
                                    <div class="product_price">
                                        <span class="price">125000 تومان</span>
                                        <del>155000 تومان</del>
                                        <div class="on_sale">
                                            <span>35% تخفیف</span>
                                        </div>
                                    </div>

                                    <div class="pr_desc">
                                        <p>توضیحات خلاصه درباره محصول در این قسمت قرار می گیرد.</p>
                                    </div>
                                    <div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button></div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="/home/ProductDetails">
                                        <img src="~/assets/images/web/2.jpg" alt="product_img1">
                                    </a>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/home/ProductDetails">عنوان محصول</a></h6>
                                    <div class="product_price">
                                        <span class="price">115000 تومان</span>
                                        <del>125000 تومان</del>
                                        <div class="on_sale">
                                            <span>35% تخفیف</span>
                                        </div>
                                    </div>

                                    <div class="pr_desc">
                                        <p>توضیحات خلاصه درباره محصول در این قسمت قرار می گیرد.</p>
                                    </div>

                                    <div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="/home/ProductDetails">
                                        <img src="~/assets/images/web/3.jpg" alt="product_img1">
                                    </a>
                                    
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/home/ProductDetails">عنوان محصول</a></h6>
                                    <div class="product_price">
                                        <span class="price">155000 تومان</span>
                                        <del>165000 تومان</del>
                                        <div class="on_sale">
                                            <span>35% تخفیف</span>
                                        </div>
                                    </div>

                                    <div class="pr_desc">
                                        <p>توضیحات خلاصه درباره محصول در این قسمت قرار می گیرد.</p>
                                    </div>

                                    <div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="/home/ProductDetails">
                                        <img src="~/assets/images/web/4.jpg" alt="product_img1">
                                    </a>
                                   
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/home/ProductDetails">عنوان محصول</a></h6>
                                    <div class="product_price">
                                        <span class="price">115000 تومان</span>
                                        <del>135000 تومان</del>
                                        <div class="on_sale">
                                            <span>35% تخفیف</span>
                                        </div>
                                    </div>

                                    <div class="pr_desc">
                                        <p>توضیحات خلاصه درباره محصول در این قسمت قرار می گیرد.</p>
                                    </div>

                                    <div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="/home/ProductDetails">
                                        <img src="~/assets/images/web/5.jpg" alt="product_img1">
                                    </a>
                                   
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/home/ProductDetails">عنوان محصول</a></h6>
                                    <div class="product_price">
                                        <span class="price">135000 تومان</span>
                                        <del>145000 تومان</del>
                                        <div class="on_sale">
                                            <span>35% تخفیف</span>
                                        </div>
                                    </div>

                                    <div class="pr_desc">
                                        <p>توضیحات خلاصه درباره محصول در این قسمت قرار می گیرد.</p>
                                    </div>
                                    <div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="/home/ProductDetails">
                                        <img src="~/assets/images/web/6.jpg" alt="product_img1">
                                    </a>
                                    
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="/home/ProductDetails">عنوان محصول</a></h6>
                                    <div class="product_price">
                                        <span class="price">135000 تومان</span>
                                        <del>145000 تومان</del>
                                        <div class="on_sale">
                                            10% تخفیف
                                        </div>
                                    </div>

                                    <div class="pr_desc">
                                        <p>توضیحات خلاصه درباره محصول در این قسمت قرار می گیرد.</p>
                                    </div>

                                    <div class="add-to-cart"><button class="btn btn-fill-out btn-addtocart"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button></div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">دسته بندی</h5>
                            <ul class="widget_categories">
                                <li><a href="#"><span class="categories_name">غلطک های طرح دار</span><span class="categories_num">(9)</span></a></li>
                                <li><a href="#"><span class="categories_name">ابزار پتینه</span><span class="categories_num">(6)</span></a></li>
                                <li><a href="#"><span class="categories_name">رنگ و ابزار هنری</span><span class="categories_num">(4)</span></a></li>
                                <li><a href="#"><span class="categories_name">مولتی سورفیس</span><span class="categories_num">(7)</span></a></li>
                                <li><a href="#"><span class="categories_name">ابزار ساختمانی</span><span class="categories_num">(12)</span></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget_title">برندها</h5>
                            <ul class="list_brand">
                                <li>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Arrivals" value="">
                                        <label class="form-check-label" for="Arrivals"><span>SunShine</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Lighting" value="">
                                        <label class="form-check-label" for="Lighting"><span>Mestonix</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Tables" value="">
                                        <label class="form-check-label" for="Tables"><span>HandCrafted</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Chairs" value="">
                                        <label class="form-check-label" for="Chairs"><span>Pure</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="Accessories" value="">
                                        <label class="form-check-label" for="Accessories"><span>ANFOLD</span></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <div class="shop_banner">
                                <div class="banner_img overlay_bg_20">
                                    <img src="~/assets/images/shop-banner-06.png" height="300" alt="sidebar_banner_img">
                                </div>
                                <div class="shop_bn_content2 text_white">
                                    <h5 class="text-uppercase shop_subtitle">جدیدترین محصولات</h5>
                                    <h3 class="text-uppercase shop_title">تا 30% تخفیف</h3>
                                    <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">خرید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>عضویت در خبرنامه</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0" placeholder="ایمیل">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">عضویت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
